In [43]:
import numpy as np
import pandas as pd
import math
import sys
import datetime as dt

In [2]:
# quarterly recipe data
data = pd.read_csv("../data/split data/2-SP500 Fundamental.csv") 
data_tmp = pd.DataFrame(data)
print(data_tmp.head())
print(data_tmp.tail())
print(data_tmp.shape[0])

   gvkey  datadate  fyearq  fqtr   tic                        conm datacqtr  \
0   1013  19900131    1990     1  ADCT  ADC TELECOMMUNICATIONS INC   1989Q4
1   1013  19900430    1990     2  ADCT  ADC TELECOMMUNICATIONS INC   1990Q1
2   1013  19900731    1990     3  ADCT  ADC TELECOMMUNICATIONS INC   1990Q2
3   1013  19901031    1990     4  ADCT  ADC TELECOMMUNICATIONS INC   1990Q3
4   1013  19910131    1991     1  ADCT  ADC TELECOMMUNICATIONS INC   1990Q4

  datafqtr         rdq     actq   ...     oiadpq   revtq   saleq  teqq  \
0   1990Q1  19900223.0   85.600   ...      9.531  62.043  62.043   NaN
1   1990Q2  19900529.0   87.438   ...      7.588  60.195  60.195   NaN
2   1990Q3  19900829.0   89.083   ...      9.577  65.814  65.814   NaN
3   1990Q4  19901213.0  102.525   ...     11.049  71.750  71.750   NaN
4   1991Q1  19910221.0  107.228   ...     11.012  72.902  72.902   NaN

    wcapq   xoprq  costat  mkvaltq   prccq  gsector
0  58.483  49.240       I      NaN  17.500     45.0
1  62.565  49.377       I      NaN  21.250     45.0
2  58.124  52.135       I      NaN  20.000     45.0
3  65.190  56.999       I      NaN  16.375     45.0
4  70.514  57.943       I      NaN  26.250     45.0

[5 rows x 36 columns]
        gvkey  datadate  fyearq  fqtr   tic          conm datacqtr datafqtr  \
91211  316056  20160930    2016     3  ALLE  ALLEGION PLC   2016Q3   2016Q3
91212  316056  20161231    2016     4  ALLE  ALLEGION PLC   2016Q4   2016Q4
91213  316056  20170331    2017     1  ALLE  ALLEGION PLC   2017Q1   2017Q1
91214  316056  20170630    2017     2  ALLE  ALLEGION PLC   2017Q2   2017Q2
91215  316056  20170930    2017     3  ALLE  ALLEGION PLC   2017Q3   2017Q3

              rdq   actq   ...     oiadpq  revtq  saleq   teqq  wcapq  xoprq  \
91211  20161027.0  802.3   ...      121.9  581.1  581.1  155.5  370.0  442.0
91212  20170209.0  829.3   ...       99.5  569.7  569.7  116.4  399.7  454.0
91213  20170427.0  742.2   ...       99.6  548.8  548.8  155.0  343.7  432.7
91214  20170727.0  839.2   ...      134.4  627.0  627.0  269.4  402.4  476.4
91215  20171026.0  924.6   ...      133.5  609.3  609.3  372.1  492.4  458.6

       costat    mkvaltq  prccq  gsector
91211       A  6615.3600  68.91     20.0
91212       A  6097.5360  64.00     20.0
91213       A  7211.1820  75.70     20.0
91214       A  7704.7776  81.12     20.0
91215       A  8216.8982  86.47     20.0

[5 rows x 36 columns]
91216

In [3]:
# stock name
stock_name = list(set(data_tmp['tic']))
for i in range(len(stock_name)-1):
    if(type(stock_name[i]) != str):
        del stock_name[i]  # delete nan in the list

"""
# transfer index into date
date = list(data_tmp['datadate'])
a = date
for i in range(len(date)):
    b = dt.strptime(str(date[i]), '%Y%m%d')
    a[i] = b.strftime('%Y-%m-%d')
series = data_tmp
series.index = a
print(series.head())
"""
print(data_tmp.columns.values)

['gvkey' 'datadate' 'fyearq' 'fqtr' 'tic' 'conm' 'datacqtr' 'datafqtr'
 'rdq' 'actq' 'apq' 'atq' 'ceqq' 'chq' 'cogsq' 'cshoq' 'dlcq' 'dlttq' 'dpq'
 'epspxq' 'invfgq' 'lctq' 'lltq' 'lseq' 'msaq' 'niq' 'oiadpq' 'revtq'
 'saleq' 'teqq' 'wcapq' 'xoprq' 'costat' 'mkvaltq' 'prccq' 'gsector']

In [6]:
# daily close price
data_fd = pd.read_csv("../data/split data/1-SP500 Price 1990 to 1999.csv", low_memory = False) # first decade
data_sd = pd.read_csv("../data/split data/1-SP500 Price 2000 to 2009.csv", low_memory = False) # second decade
data_td = pd.read_csv("../data/split data/1-SP500 Price 2010 to 2017.csv", low_memory = False) # third decade

data_fd = pd.DataFrame(data_fd[list(['datadate', 'tic', 'prccd', 'gsector'])])
data_sd = pd.DataFrame(data_sd[list(['datadate', 'tic', 'prccd', 'gsector'])])
data_td = pd.DataFrame(data_td[list(['datadate', 'tic', 'prccd', 'gsector'])])

print(data_fd.shape[0] + data_sd.shape[0] + data_td.shape[0])

data_daily = [data_fd, data_sd, data_td]
data_daily = pd.concat(data_daily)

print(data_daily.shape[0])


stock_name_daily = list(set(data_daily['tic']))
for i in range(len(stock_name_daily)-1):
    if(type(stock_name_daily[i]) != str):
        del stock_name_daily[i]  # delete nan in the list

6426271
6426271

In [136]:
# use trade date instead of report quarterly date
times = list(data_tmp['datadate']) # quarterly report date
for i in range(len(times)):
    quarter = (times[i] - int(times[i]/10000)*10000)
    if 1201 < quarter:
        times[i] = int(times[i]/10000 + 1)*10000 + 301
    if quarter <= 301:
        times[i] = int(times[i]/10000)*10000 + 301
    if 301 < quarter <= 601:
        times[i] = int(times[i]/10000)*10000 + 601
    if 601 < quarter <= 901:
        times[i] = int(times[i]/10000)*10000 + 901
    if 901 < quarter <= 1201:
        times[i] = int(times[i]/10000)*10000 + 1201
    time_tmp = times[i]
    year = int(time_tmp/10000)
    month = int((time_tmp - year*10000)/100)
    day = int(time_tmp - year*10000 - month*100)
    if(time_tmp < 20171114):
        while(dt.date(year, month, day).weekday() > 4):
            time_tmp = time_tmp + 1
            year = int(time_tmp/10000)
            month = int((time_tmp - year*10000)/100)
            day = int(time_tmp - year*10000 - month*100)
        times[i] = time_tmp

data_factor = pd.DataFrame({'datadate': times, 'tic': data_tmp['tic'], 'gsector':data_tmp['gsector']})
print(data_factor.head(16))
print(data_factor.tail(16))

    datadate  gsector   tic
0   19900301     45.0  ADCT
1   19900601     45.0  ADCT
2   19900903     45.0  ADCT
3   19901203     45.0  ADCT
4   19910301     45.0  ADCT
5   19910603     45.0  ADCT
6   19910902     45.0  ADCT
7   19911202     45.0  ADCT
8   19920302     45.0  ADCT
9   19920601     45.0  ADCT
10  19920901     45.0  ADCT
11  19921201     45.0  ADCT
12  19930301     45.0  ADCT
13  19930601     45.0  ADCT
14  19930901     45.0  ADCT
15  19931201     45.0  ADCT
       datadate  gsector   tic
91200  20140303     20.0  ALLE
91201  20140602     20.0  ALLE
91202  20140901     20.0  ALLE
91203  20141201     20.0  ALLE
91204  20150302     20.0  ALLE
91205  20150601     20.0  ALLE
91206  20150901     20.0  ALLE
91207  20151201     20.0  ALLE
91208  20160301     20.0  ALLE
91209  20160601     20.0  ALLE
91210  20160901     20.0  ALLE
91211  20161201     20.0  ALLE
91212  20170301     20.0  ALLE
91213  20170601     20.0  ALLE
91214  20170901     20.0  ALLE
91215  20171201     20.0  ALLE

In [137]:
data_factor['prccd'] = [0]*data_factor.shape[0]
for i in stock_name:
    if (i in stock_name_daily):
        ind_quarter = np.where(data_factor['tic'] == i)[0]
        date_price_daily = data_daily.loc[data_daily['tic'] == i, list(['datadate', 'prccd'])]
        date_price_daily.index = range(date_price_daily.shape[0])
        date_max = max(date_price_daily['datadate'])
        date_min = min(date_price_daily['datadate'])
        for j in ind_quarter:
            if (data_factor.loc[j, 'datadate'] < date_min or data_factor.loc[j, 'datadate'] > date_max):
                data_factor.loc[j, 'prccd'] = np.nan
            else:
                if(data_factor.loc[j, 'datadate'] in set(date_price_daily['datadate'])):
                    ind_tmp = np.where(date_price_daily['datadate'] == data_factor.loc[j, 'datadate'])[0]
                    data_factor.loc[j, 'prccd'] = date_price_daily.loc[ind_tmp, 'prccd'].values
                else:
                    data_factor.loc[j, 'prccd'] = np.nan

In [138]:
print(data_factor)
writer = pd.ExcelWriter('trade date and price.xlsx')
data_factor.to_excel(writer,'Sheet1')
writer.save()

       datadate  gsector   tic   prccd
0      19900301     45.0  ADCT  20.750
1      19900601     45.0  ADCT  22.000
2      19900903     45.0  ADCT     NaN
3      19901203     45.0  ADCT  23.625
4      19910301     45.0  ADCT  32.000
5      19910603     45.0  ADCT  40.750
6      19910902     45.0  ADCT     NaN
7      19911202     45.0  ADCT  25.125
8      19920302     45.0  ADCT  25.750
9      19920601     45.0  ADCT  35.000
10     19920901     45.0  ADCT  36.000
11     19921201     45.0  ADCT  45.500
12     19930301     45.0  ADCT  42.000
13     19930601     45.0  ADCT  54.750
14     19930901     45.0  ADCT  36.000
15     19931201     45.0  ADCT  35.375
16     19940301     45.0  ADCT  36.875
17     19940601     45.0  ADCT  41.375
18     19940901     45.0  ADCT  46.000
19     19941201     45.0  ADCT  41.000
20     19950301     45.0  ADCT  29.500
21     19950601     45.0  ADCT  30.250
22     19950901     45.0  ADCT  41.750
23     19951201     45.0  ADCT  43.125
24     19960301     45.0  ADCT  39.250
25     19960603     45.0  ADCT  46.500
26     19960902     45.0  ADCT     NaN
27     19961202     45.0  ADCT  37.750
28     19970303     45.0  ADCT  27.750
29     19970602     45.0  ADCT  33.125
...         ...      ...   ...     ...
91186  20170601     15.0   LYB  80.550
91187  20170901     15.0   LYB  90.250
91188  20171201     15.0   LYB     NaN
91189  20110601     20.0  ALLE     NaN
91190  20110901     20.0  ALLE     NaN
91191  20111201     20.0  ALLE     NaN
91192  20120301     20.0  ALLE     NaN
91193  20120601     20.0  ALLE     NaN
91194  20120903     20.0  ALLE     NaN
91195  20121203     20.0  ALLE     NaN
91196  20130301     20.0  ALLE     NaN
91197  20130603     20.0  ALLE     NaN
91198  20130902     20.0  ALLE     NaN
91199  20131202     20.0  ALLE  43.140
91200  20140303     20.0  ALLE  53.490
91201  20140602     20.0  ALLE  52.070
91202  20140901     20.0  ALLE     NaN
91203  20141201     20.0  ALLE  53.700
91204  20150302     20.0  ALLE  58.820
91205  20150601     20.0  ALLE  62.040
91206  20150901     20.0  ALLE  58.560
91207  20151201     20.0  ALLE  68.030
91208  20160301     20.0  ALLE  64.830
91209  20160601     20.0  ALLE  68.190
91210  20160901     20.0  ALLE  71.840
91211  20161201     20.0  ALLE  65.460
91212  20170301     20.0  ALLE  73.690
91213  20170601     20.0  ALLE  79.140
91214  20170901     20.0  ALLE  79.150
91215  20171201     20.0  ALLE     NaN

[91216 rows x 4 columns]

In [139]:
# factors calculation function
def revenue_growth(df):
    # REVTQ (T) / REVTQ (T-1) -1
    rev = df['revtq']
    rev = round(rev.shift(1)/rev - 1, 3)
    return rev

def price_to_cash_flow_ratio(df2, df):
    # Adjusted Close Price * CSHOQ 
    # / [(NIQ (Net Income (Loss)) + DPQ (Depreciation and Amortization, Total) – (WCAPQ (T)- WCAPQ (T-1))]
    tmp = df['wcapq']
    tmp = round(tmp.shift(1) - tmp, 3)
    ptcfr = round(df2['prccd']*df['cshoq']/(df['niq'] + df['dpq'] - tmp), 3)
    return ptcfr
    
    
def cash_ratio(df):
    # [CHQ (Cash) + MSAQ (Marketable Security Adjustments)] / LCTQ (Current Liabilities, Total)
    chq_ratio = round((df['chq'] + df['msaq'])/df['lctq'], 3)
    return chq_ratio

def ebitda(df):
    # EV = MKVALTQ (Market Value, Total) + DLTTQ (Long-Term Debt, Total) 
    # + DLCQ (Debt in Current Liabilities) - CHQ (Cash)
    ev = round(df['mkvaltq'] + df['dlttq'] + df['dlcq'] - df['chq'], 3)
    
    # EBITDA = REVTQ (Revenue, Total) – XOPRQ (Operating Expense, Total) 
    # + DPQ (Depreciation and Amortization, Total)
    ebitda = round(df['revtq'] - df['xoprq'] + df['dpq'], 3)
    return ebitda

def ev_to_cfo(df):
    # [MKVALTQ (Market Value, Total) + DLTTQ (Long-Term Debt, Total) + DLCQ (Debt in Current Liabilities) - CHQ (Cash)]
    # /[(NIQ (Net Income (Loss)) + DPQ (Depreciation and Amortization, Total) – (WCAPQ (T)- WCAPQ (T-1))]
    tmp = df['wcapq']
    tmp = tmp.shift(1) - tmp
    
    num = df['mkvaltq'] + df['dlttq'] + df['dlcq'] - df['chq']
    num2 = df['niq'] + df['dpq'] - tmp
    evtocfo = round(num/num2, 3)
    return evtocfo

In [140]:
# factors calculation
pd.set_option('mode.chained_assignment', None)
data_factor_store = pd.DataFrame(columns = ['datadate', 'gsector', 'tic', 'prccd',
                                            'revenue_growth', 'price_to_cash_flow_ratio', 
                                            'cash_ratio', 'ebitda', 'ev_to_cfo'])
for i in stock_name:
    df = data_tmp.loc[data_tmp['tic'] == i, ]
    df2 = data_factor.loc[data_factor['tic'] == i, ]
    df2.loc[:, 'revenue_growth'] = list(revenue_growth(df))
    df2.loc[:, 'price_to_cash_flow_ratio'] = list(price_to_cash_flow_ratio(df2, df))
    df2.loc[:, 'cash_ratio'] = list(cash_ratio(df))
    df2.loc[:, 'ebitda'] = list(ebitda(df))
    df2.loc[:, 'ev_to_cfo'] = list(ev_to_cfo(df))
    data_factor_store = [data_factor_store, df2]
    data_factor_store = pd.concat(data_factor_store)

In [141]:
data_factor = data_factor_store
print(data_factor)
writer = pd.ExcelWriter('factor matrix with tradable date.xlsx')
data_factor.to_excel(writer,'Sheet1')
writer.save()

       datadate  gsector    tic   prccd  revenue_growth  \
1501   19900601     50.0   AT.2  34.250             NaN
1502   19900903     50.0   AT.2     NaN          -0.010
1503   19901203     50.0   AT.2  32.125          -0.022
1504   19910301     50.0   AT.2  37.875          -0.016
1505   19910603     50.0   AT.2  41.000          -0.076
1506   19910902     50.0   AT.2     NaN          -0.060
1507   19911202     50.0   AT.2  35.000          -0.053
1508   19920302     50.0   AT.2  37.875          -0.002
1509   19920601     50.0   AT.2  39.000          -0.028
1510   19920901     50.0   AT.2  41.750          -0.026
1511   19921201     50.0   AT.2  47.875          -0.009
1512   19930301     50.0   AT.2  47.750          -0.018
1513   19930601     50.0   AT.2  51.375          -0.024
1514   19930901     50.0   AT.2  30.500          -0.039
1515   19931201     50.0   AT.2  27.250          -0.005
1516   19940301     50.0   AT.2  27.250          -0.127
1517   19940601     50.0   AT.2  26.375          -0.068
1518   19940901     50.0   AT.2  28.000          -0.036
1519   19941201     50.0   AT.2  28.125          -0.014
1520   19950301     50.0   AT.2  28.625          -0.025
1521   19950601     50.0   AT.2  24.250          -0.008
1522   19950901     50.0   AT.2  28.250          -0.029
1523   19951201     50.0   AT.2  29.500           0.001
1524   19960301     50.0   AT.2  32.875           0.015
1525   19960603     50.0   AT.2  31.375          -0.001
1526   19960902     50.0   AT.2     NaN          -0.038
1527   19961202     50.0   AT.2  31.625          -0.004
1528   19970303     50.0   AT.2  34.875           0.001
1529   19970602     50.0   AT.2  32.000          -0.250
1530   19970901     50.0   AT.2     NaN          -0.058
...         ...      ...    ...     ...             ...
35639  20040301     45.0  NSM.2  40.870          -0.078
35640  20040601     45.0  NSM.2  21.940          -0.101
35641  20040901     45.0  NSM.2  13.570           0.042
35642  20041201     45.0  NSM.2  16.170           0.221
35643  20050301     45.0  NSM.2  20.650          -0.001
35644  20050601     45.0  NSM.2  20.310          -0.038
35645  20050901     45.0  NSM.2  24.410          -0.054
35646  20051201     45.0  NSM.2  27.900          -0.092
35647  20060301     45.0  NSM.2  29.470          -0.007
35648  20060601     45.0  NSM.2  26.410          -0.043
35649  20060901     45.0  NSM.2  24.010           0.058
35650  20061201     45.0  NSM.2  24.170           0.079
35651  20070301     45.0  NSM.2  25.210           0.164
35652  20070601     45.0  NSM.2  26.690          -0.055
35653  20070903     45.0  NSM.2     NaN          -0.033
35654  20071203     45.0  NSM.2  22.740          -0.055
35655  20080303     45.0  NSM.2  16.550           0.101
35656  20080602     45.0  NSM.2  20.820          -0.019
35657  20080901     45.0  NSM.2     NaN          -0.008
35658  20081201     45.0  NSM.2  10.720           0.104
35659  20090302     45.0  NSM.2   9.980           0.442
35660  20090601     45.0  NSM.2  14.560           0.041
35661  20090901     45.0  NSM.2  15.100          -0.107
35662  20091201     45.0  NSM.2  15.020          -0.088
35663  20100301     45.0  NSM.2  14.770          -0.048
35664  20100601     45.0  NSM.2  13.750          -0.092
35665  20100901     45.0  NSM.2  12.860          -0.033
35666  20101201     45.0  NSM.2  13.620           0.055
35667  20110301     45.0  NSM.2  15.100           0.135
35668  20110601     45.0  NSM.2  24.560          -0.081

       price_to_cash_flow_ratio  cash_ratio   ebitda  ev_to_cfo
1501                        NaN         NaN  174.264        NaN
1502                        NaN         NaN  180.100        NaN
1503                     34.745         NaN  184.299        NaN
1504                     28.448         NaN  195.942        NaN
1505                     31.510         NaN  200.925        NaN
1506                        NaN         NaN  202.600        NaN
1507                     32.761         NaN  226.623        NaN
1508                     34.145         NaN  227.497        NaN
1509                     33.523         NaN  222.520        NaN
1510                     35.649         NaN  228.010        NaN
1511                     45.869         NaN  236.828        NaN
1512                     52.029         NaN  244.616        NaN
1513                     41.772         NaN  250.853        NaN
1514                     19.469         NaN  255.733        NaN
1515                     39.781         NaN  261.660        NaN
1516                     40.941         NaN  330.424        NaN
1517                     23.498         NaN  316.133        NaN
1518                     25.196         NaN  331.060        NaN
1519                     25.164         NaN  339.884        NaN
1520                     26.109         NaN  370.715        NaN
1521                     24.643         NaN  354.486        NaN
1522                     22.933         NaN  370.897        NaN
1523                     26.430         NaN  380.149        NaN
1524                     29.654         NaN  398.044        NaN
1525                     27.188         NaN  383.149        NaN
1526                        NaN         NaN  387.982        NaN
1527                     58.647         NaN  386.899        NaN
1528                     41.030         NaN  402.105        NaN
1529                        NaN         NaN      NaN        NaN
1530                        NaN         NaN   28.992        NaN
...                         ...         ...      ...        ...
35639                    27.133         NaN  212.700        NaN
35640                   147.759         NaN  243.400        NaN
35641                    14.949         NaN  246.100        NaN
35642                    29.861         NaN  179.300        NaN
35643                    69.246         NaN  191.400        NaN
35644                    16.355         NaN  203.000        NaN
35645                   107.140         NaN  215.300        NaN
35646                   130.958         NaN  241.800        NaN
35647                    42.410         NaN  262.200        NaN
35648                    63.779         NaN  274.700        NaN
35649                 -6487.262         NaN  241.900        NaN
35650                    61.227         NaN  199.200        NaN
35651                    74.419         NaN  163.400        NaN
35652                    62.082         NaN  182.500        NaN
35653                       NaN       3.665  192.800     22.136
35654                   -99.934       2.847  212.100   -112.035
35655                    70.290       2.709  195.800     80.814
35656                  1424.253       2.388  200.600   1657.781
35657                       NaN       2.565  198.200     54.933
35658                    32.916       2.454  176.900     42.611
35659                   -35.473       2.001   89.700    -48.879
35660                   120.524       2.541  102.100    135.877
35661                   -34.994       1.477  102.500    -40.457
35662                    40.134       1.470  120.000     43.946
35663                    37.972       1.540  139.200     41.293
35664                     9.889       1.873  167.400     10.859
35665                    19.006       2.955  189.700     20.256
35666                    13.018       4.250  170.400     13.416
35667                    26.437       5.330  140.200     28.452
35668                    20.165       5.593  151.800     19.975

[90630 rows x 9 columns]