In [1]:
import numpy as np
import pandas as pd
import math
import sys
import datetime as dt

In [2]:
# quarterly recipe data
data = pd.read_csv("../data/split data/2-SP500 Fundamental.csv") 
data_tmp = pd.DataFrame(data)
print(data_tmp.head())
print(data_tmp.tail())
print(data_tmp.shape[0])

   gvkey  datadate  fyearq  fqtr   tic                        conm datacqtr  \
0   1013  19900131    1990     1  ADCT  ADC TELECOMMUNICATIONS INC   1989Q4
1   1013  19900430    1990     2  ADCT  ADC TELECOMMUNICATIONS INC   1990Q1
2   1013  19900731    1990     3  ADCT  ADC TELECOMMUNICATIONS INC   1990Q2
3   1013  19901031    1990     4  ADCT  ADC TELECOMMUNICATIONS INC   1990Q3
4   1013  19910131    1991     1  ADCT  ADC TELECOMMUNICATIONS INC   1990Q4

  datafqtr         rdq     actq   ...     oiadpq   revtq   saleq  teqq  \
0   1990Q1  19900223.0   85.600   ...      9.531  62.043  62.043   NaN
1   1990Q2  19900529.0   87.438   ...      7.588  60.195  60.195   NaN
2   1990Q3  19900829.0   89.083   ...      9.577  65.814  65.814   NaN
3   1990Q4  19901213.0  102.525   ...     11.049  71.750  71.750   NaN
4   1991Q1  19910221.0  107.228   ...     11.012  72.902  72.902   NaN

    wcapq   xoprq  costat  mkvaltq   prccq  gsector
0  58.483  49.240       I      NaN  17.500     45.0
1  62.565  49.377       I      NaN  21.250     45.0
2  58.124  52.135       I      NaN  20.000     45.0
3  65.190  56.999       I      NaN  16.375     45.0
4  70.514  57.943       I      NaN  26.250     45.0

[5 rows x 36 columns]
        gvkey  datadate  fyearq  fqtr   tic          conm datacqtr datafqtr  \
91211  316056  20160930    2016     3  ALLE  ALLEGION PLC   2016Q3   2016Q3
91212  316056  20161231    2016     4  ALLE  ALLEGION PLC   2016Q4   2016Q4
91213  316056  20170331    2017     1  ALLE  ALLEGION PLC   2017Q1   2017Q1
91214  316056  20170630    2017     2  ALLE  ALLEGION PLC   2017Q2   2017Q2
91215  316056  20170930    2017     3  ALLE  ALLEGION PLC   2017Q3   2017Q3

              rdq   actq   ...     oiadpq  revtq  saleq   teqq  wcapq  xoprq  \
91211  20161027.0  802.3   ...      121.9  581.1  581.1  155.5  370.0  442.0
91212  20170209.0  829.3   ...       99.5  569.7  569.7  116.4  399.7  454.0
91213  20170427.0  742.2   ...       99.6  548.8  548.8  155.0  343.7  432.7
91214  20170727.0  839.2   ...      134.4  627.0  627.0  269.4  402.4  476.4
91215  20171026.0  924.6   ...      133.5  609.3  609.3  372.1  492.4  458.6

       costat    mkvaltq  prccq  gsector
91211       A  6615.3600  68.91     20.0
91212       A  6097.5360  64.00     20.0
91213       A  7211.1820  75.70     20.0
91214       A  7704.7776  81.12     20.0
91215       A  8216.8982  86.47     20.0

[5 rows x 36 columns]
91216

In [3]:
# stock name
stock_name = list(set(data_tmp['tic']))
for i in range(len(stock_name)-1):
    if(type(stock_name[i]) != str):
        del stock_name[i]  # delete nan in the list

"""
# transfer index into date
date = list(data_tmp['datadate'])
a = date
for i in range(len(date)):
    b = dt.strptime(str(date[i]), '%Y%m%d')
    a[i] = b.strftime('%Y-%m-%d')
series = data_tmp
series.index = a
print(series.head())
"""
print(data_tmp.columns.values)

['gvkey' 'datadate' 'fyearq' 'fqtr' 'tic' 'conm' 'datacqtr' 'datafqtr'
 'rdq' 'actq' 'apq' 'atq' 'ceqq' 'chq' 'cogsq' 'cshoq' 'dlcq' 'dlttq' 'dpq'
 'epspxq' 'invfgq' 'lctq' 'lltq' 'lseq' 'msaq' 'niq' 'oiadpq' 'revtq'
 'saleq' 'teqq' 'wcapq' 'xoprq' 'costat' 'mkvaltq' 'prccq' 'gsector']

In [4]:
# daily close price
data_fd = pd.read_csv("../data/split data/1-SP500 Price 1990 to 1999.csv", low_memory = False) # first decade
data_sd = pd.read_csv("../data/split data/1-SP500 Price 2000 to 2009.csv", low_memory = False) # second decade
data_td = pd.read_csv("../data/split data/1-SP500 Price 2010 to 2017.csv", low_memory = False) # third decade

data_fd = pd.DataFrame(data_fd[list(['datadate', 'tic', 'prccd', 'gsector'])])
data_sd = pd.DataFrame(data_sd[list(['datadate', 'tic', 'prccd', 'gsector'])])
data_td = pd.DataFrame(data_td[list(['datadate', 'tic', 'prccd', 'gsector'])])

print(data_fd.shape[0] + data_sd.shape[0] + data_td.shape[0])

data_daily = [data_fd, data_sd, data_td]
data_daily = pd.concat(data_daily)

print(data_daily.shape[0])


stock_name_daily = list(set(data_daily['tic']))
for i in range(len(stock_name_daily)-1):
    if(type(stock_name_daily[i]) != str):
        del stock_name_daily[i]  # delete nan in the list

6426271
6426271

In [5]:
len(stock_name_daily)

1825

In [6]:
# use trade date instead of report quarterly date
times = list(data_tmp['datadate']) # quarterly report date
for i in range(len(times)):
    quarter = (times[i] - int(times[i]/10000)*10000)
    if 1201 < quarter:
        times[i] = int(times[i]/10000 + 1)*10000 + 601
    if quarter <= 301:
        times[i] = int(times[i]/10000)*10000 + 601
    if 301 < quarter <= 601:
        times[i] = int(times[i]/10000)*10000 + 901
    if 601 < quarter <= 901:
        times[i] = int(times[i]/10000)*10000 + 1201
    if 901 < quarter <= 1201:
        times[i] = int(times[i]/10000 + 1)*10000 + 301
    time_tmp = times[i]
    year = int(time_tmp/10000)
    month = int((time_tmp - year*10000)/100)
    day = int(time_tmp - year*10000 - month*100)
    if(time_tmp < 20171114):
        while(dt.date(year, month, day).weekday() > 4):
            time_tmp = time_tmp + 1
            year = int(time_tmp/10000)
            month = int((time_tmp - year*10000)/100)
            day = int(time_tmp - year*10000 - month*100)
        times[i] = time_tmp

data_factor = pd.DataFrame({'datadate': times, 'tic': data_tmp['tic'], 'gsector':data_tmp['gsector'], 
                            'epspxq': data_tmp['epspxq']})
print(data_factor.head(16))
print(data_factor.tail(16))

    datadate  epspxq  gsector   tic
0   19900601    0.44     45.0  ADCT
1   19900903    0.36     45.0  ADCT
2   19901203    0.44     45.0  ADCT
3   19910301    0.49     45.0  ADCT
4   19910603    0.50     45.0  ADCT
5   19910902    0.49     45.0  ADCT
6   19911202    0.32     45.0  ADCT
7   19920302    0.34     45.0  ADCT
8   19920601   -0.09     45.0  ADCT
9   19920901    0.46     45.0  ADCT
10  19921201    0.56     45.0  ADCT
11  19930301    0.62     45.0  ADCT
12  19930601    0.39     45.0  ADCT
13  19930901    0.51     45.0  ADCT
14  19931201    0.33     45.0  ADCT
15  19940301    0.37     45.0  ADCT
       datadate  epspxq  gsector   tic
91200  20140602    0.12     20.0  ALLE
91201  20140901    0.38     20.0  ALLE
91202  20141201    0.53     20.0  ALLE
91203  20150302    0.66     20.0  ALLE
91204  20150601    0.37     20.0  ALLE
91205  20150901    0.48     20.0  ALLE
91206  20151201    0.67     20.0  ALLE
91207  20160301   -0.28     20.0  ALLE
91208  20160601    0.75     20.0  ALLE
91209  20160901    0.60     20.0  ALLE
91210  20161201    0.99     20.0  ALLE
91211  20170301    0.02     20.0  ALLE
91212  20170601    0.77     20.0  ALLE
91213  20170901    0.72     20.0  ALLE
91214  20171201    1.11     20.0  ALLE
91215  20180301    0.95     20.0  ALLE

In [7]:
data_factor['prccd'] = [0]*data_factor.shape[0]
for i in stock_name:
    if (i in stock_name_daily):
        ind_quarter = np.where(data_factor['tic'] == i)[0]
        date_price_daily = data_daily.loc[data_daily['tic'] == i, list(['datadate', 'prccd'])]
        date_price_daily.index = range(date_price_daily.shape[0])
        date_max = max(date_price_daily['datadate'])
        date_min = min(date_price_daily['datadate'])
        for j in ind_quarter:
            if (data_factor.loc[j, 'datadate'] < date_min or data_factor.loc[j, 'datadate'] > date_max):
                data_factor.loc[j, 'prccd'] = np.nan
            else:
                if(data_factor.loc[j, 'datadate'] in set(date_price_daily['datadate'])):
                    ind_tmp = np.where(date_price_daily['datadate'] == data_factor.loc[j, 'datadate'])[0]
                    data_factor.loc[j, 'prccd'] = date_price_daily.loc[ind_tmp, 'prccd'].values
                else:
                    data_factor.loc[j, 'prccd'] = np.nan

In [8]:
print(data_factor)
writer = pd.ExcelWriter('trade date and price.xlsx')
data_factor.to_excel(writer,'Sheet1')
writer.save()

       datadate  epspxq  gsector   tic   prccd
0      19900601    0.44     45.0  ADCT  22.000
1      19900903    0.36     45.0  ADCT     NaN
2      19901203    0.44     45.0  ADCT  23.625
3      19910301    0.49     45.0  ADCT  32.000
4      19910603    0.50     45.0  ADCT  40.750
5      19910902    0.49     45.0  ADCT     NaN
6      19911202    0.32     45.0  ADCT  25.125
7      19920302    0.34     45.0  ADCT  25.750
8      19920601   -0.09     45.0  ADCT  35.000
9      19920901    0.46     45.0  ADCT  36.000
10     19921201    0.56     45.0  ADCT  45.500
11     19930301    0.62     45.0  ADCT  42.000
12     19930601    0.39     45.0  ADCT  54.750
13     19930901    0.51     45.0  ADCT  36.000
14     19931201    0.33     45.0  ADCT  35.375
15     19940301    0.37     45.0  ADCT  36.875
16     19940601    0.24     45.0  ADCT  41.375
17     19940901    0.36     45.0  ADCT  46.000
18     19941201    0.40     45.0  ADCT  41.000
19     19950301    0.46     45.0  ADCT  29.500
20     19950601    0.38     45.0  ADCT  30.250
21     19950901    0.18     45.0  ADCT  41.750
22     19951201    0.26     45.0  ADCT  43.125
23     19960301    0.30     45.0  ADCT  39.250
24     19960603    0.26     45.0  ADCT  46.500
25     19960902    0.31     45.0  ADCT     NaN
26     19961202    0.36     45.0  ADCT  37.750
27     19970303    0.44     45.0  ADCT  27.750
28     19970602    0.08     45.0  ADCT  33.125
29     19970901    0.22     45.0  ADCT     NaN
...         ...     ...      ...   ...     ...
91186  20170901    2.00     15.0   LYB  90.250
91187  20171201    2.83     15.0   LYB     NaN
91188  20180301    2.67     15.0   LYB     NaN
91189  20110901     NaN     20.0  ALLE     NaN
91190  20111201     NaN     20.0  ALLE     NaN
91191  20120301     NaN     20.0  ALLE     NaN
91192  20120601    2.23     20.0  ALLE     NaN
91193  20120903    0.46     20.0  ALLE     NaN
91194  20121203    0.57     20.0  ALLE     NaN
91195  20130301    0.57     20.0  ALLE     NaN
91196  20130603    0.59     20.0  ALLE     NaN
91197  20130902    0.40     20.0  ALLE     NaN
91198  20131202    0.60     20.0  ALLE  43.140
91199  20140303   -0.79     20.0  ALLE  53.490
91200  20140602    0.12     20.0  ALLE  52.070
91201  20140901    0.38     20.0  ALLE     NaN
91202  20141201    0.53     20.0  ALLE  53.700
91203  20150302    0.66     20.0  ALLE  58.820
91204  20150601    0.37     20.0  ALLE  62.040
91205  20150901    0.48     20.0  ALLE  58.560
91206  20151201    0.67     20.0  ALLE  68.030
91207  20160301   -0.28     20.0  ALLE  64.830
91208  20160601    0.75     20.0  ALLE  68.190
91209  20160901    0.60     20.0  ALLE  71.840
91210  20161201    0.99     20.0  ALLE  65.460
91211  20170301    0.02     20.0  ALLE  73.690
91212  20170601    0.77     20.0  ALLE  79.140
91213  20170901    0.72     20.0  ALLE  79.150
91214  20171201    1.11     20.0  ALLE     NaN
91215  20180301    0.95     20.0  ALLE     NaN

[91216 rows x 5 columns]

In [9]:
# factors calculation function
def revenue_growth(df):
    # REVTQ (T) / REVTQ (T-1) -1
    rev = df['revtq']
    rev = round(rev.shift(1)/rev - 1, 3)
    return rev

def price_to_cash_flow_ratio(df2, df):
    # Adjusted Close Price * CSHOQ 
    # / [(NIQ (Net Income (Loss)) + DPQ (Depreciation and Amortization, Total) – (WCAPQ (T)- WCAPQ (T-1))]
    tmp = df['wcapq']
    tmp = round(tmp.shift(1) - tmp, 3)
    ptcfr = round(df2['prccd']*df['cshoq']/(df['niq'] + df['dpq'] - tmp), 3)
    return ptcfr
    
    
def cash_ratio(df):
    # [CHQ (Cash) + MSAQ (Marketable Security Adjustments)] / LCTQ (Current Liabilities, Total)
    chq_ratio = round((df['chq'] + df['msaq'])/df['lctq'], 3)
    return chq_ratio

def ev(df2 ,df):
    # EV = PRCCQ (Price Close, Quarter) * CSHOQ (Common Shares Outstanding) + DLTTQ (Long-Term Debt, Total) 
    # + DLCQ (Debt in Current Liabilities) - CHQ (Cash)
    ev = round(df2['prccd'] * df['cshoq'] + df['mkvaltq'] + df['dlttq'] + df['dlcq'] - df['chq'], 3)
    return ev

def ebitda(df):
    
    # EBITDA = REVTQ (Revenue, Total) – XOPRQ (Operating Expense, Total) 
    # + DPQ (Depreciation and Amortization, Total)
    ebitda = round(df['revtq'] - df['xoprq'] + df['dpq'], 3)
    return ebitda

def ev_to_cfo(df2, df):
    # [PRCCQ (Price Close, Quarter) * CSHOQ + DLTTQ (Long-Term Debt, Total) + DLCQ (Debt in Current Liabilities) - CHQ (Cash)]
    # /[(NIQ (Net Income (Loss)) + DPQ (Depreciation and Amortization, Total) – (WCAPQ (T)- WCAPQ (T-1))]
    tmp = df['wcapq']
    tmp = tmp.shift(1) - tmp
    
    #num = df['mkvaltq'] + df['dlttq'] + df['dlcq'] - df['chq']
    num2 = df['niq'] + df['dpq'] - tmp
    evtocfo = round(ev(df2, df)/num2, 3)
    return evtocfo

def roa(df):
    # NIQ (Net Income (Loss)) / ATQ (Assets, Total)
    return round(df['niq']/df['atq'], 3)

def roe(df):
    # NIQ (Net Income (Loss)) / CEQQ (Common/Ordinary Equity, Total)
    return round(df['niq']/df['ceqq'], 3)

def pe(df2, df):
    # Current market close price / EPSPXQ (Earnings Per Share (Basic) - Excluding Extraordinary Items)
    return round(df2['prccd']/df['epspxq'], 3)

def ps(df2, df):
    # Current market close price / [REVTQ (Revenue, Total) / CSHOQ (Common Shares Outstanding)]
    return round(df2['prccd'] / df['revtq'] / df['cshoq'], 3)

def net_profit_margin(df):
    # NIQ (Net Income (Loss)) / REVTQ (Revenue, Total)
    return round(df['niq']/df['revtq'], 3)

def gross_profit_margin(df):
    # [REVTQ (Revenue, Total) – COGSQ (Cost of Goods Sold)] / REVTQ (Revenue, Total)
    return round((df['revtq'] - df['cogsq'])/df['revtq'], 3)

def operating_margin(df):
    # OIADPQ (Operating Income After Depreciation, Quarterly) / SALEQ (Sales/Turnover (Net))
    return round(df['oiadpq']/df['saleq'], 3)

def price_to_book(df2, df):
    # Current market close price / {[ATQ (Assets, Total) – LTQ(Liabilities, Total)] / CSHOQ}
    #return round(df2['prccd'] / ((df['atq'] - df['ltq'])/df['cshoq']), 3)
    return round(df2['prccd'] / ((df['atq'] - df['lltq'])/df['cshoq']), 3)

def long_term_debt_to_total_asset(df):
    # DLTTQ (Long-Term Debt, Total) / ATQ (Assets, Total)
    return round(df['dlttq'] / df['atq'], 3)

def working_capital_ratio(df):
    # ACTQ (Current Assets, Total) / LCTQ (Current Liabilities, Total)
    return round(df['actq'] / df['lctq'], 3)

def debt_equity(df):
    # LTQ (Liabilities, Total) / CEQQ (Common/Ordinary Equity, Total)
    #return round(df['ltq']/df['ceqq'], 3)
    return round(df['lltq']/df['ceqq'], 3)


def quick_ratio(df):
    # [ ACTQ (Current Assets, Total) - INVTQ (Inventory, Finished Goods) ] / LCTQ (Current Liabilities, Total)
    #return round((df['actq'] - df['invtq']) / df['lctq'], 3)
    return round((df['actq'] - df['invfgq']) / df['lctq'], 3)

def days_sales_of_inventory(df):
    # INVTQ (Inventory, Finished Goods) / COGSQ (Cost of Goods Sold) * 365
    #return round(df['invtq'] / df['cogsq'] * 365, 3)
    return round(df['invfgq'] / df['cogsq'] * 365, 3)

def days_payable_outstanding(df):
    # APQ (Account Payable/Creditors, Trade) / COGSQ (Cost of Goods Sold) * 365
    return round(df['apq'] / df['cogsq'] * 365, 3)

In [10]:
# factors calculation
pd.set_option('mode.chained_assignment', None)
data_factor_store = pd.DataFrame(columns = ['datadate', 'gsector', 'tic', 'prccd',
                                            'revenue_growth', 'price_to_cash_flow_ratio', 
                                            'cash_ratio', 'ebitda', 'ev_to_cfo', 'epspxq', 
                                            'roa', 'roe', 'pe', 'ps', 'net_profit_margin', 
                                            'gross_profit_margin', 'operating_margin', 
                                            'price_to_book', 'long_term_debt_to_total_asset', 
                                            'working_capital_ratio', 'debt_equity', 'quick_ratio', 
                                            'days_sales_of_inventory', 'days_payable_outstanding'])
for i in stock_name:
    df = data_tmp.loc[data_tmp['tic'] == i, ]
    df2 = data_factor.loc[data_factor['tic'] == i, ]
    df2.loc[:, 'revenue_growth'] = list(revenue_growth(df))
    df2.loc[:, 'price_to_cash_flow_ratio'] = list(price_to_cash_flow_ratio(df2, df))
    df2.loc[:, 'cash_ratio'] = list(cash_ratio(df))
    df2.loc[:, 'ebitda'] = list(ebitda(df))
    df2.loc[:, 'ev_to_cfo'] = list(ev_to_cfo(df2, df))
    df2.loc[:, 'roa'] = list(roa(df))
    df2.loc[:, 'roe'] = list(roe(df))
    df2.loc[:, 'pe'] = list(pe(df2, df))
    df2.loc[:, 'ps'] = list(ps(df2, df))
    df2.loc[:, 'net_profit_margin'] = list(net_profit_margin(df))
    df2.loc[:, 'gross_profit_margin'] = list(gross_profit_margin(df))
    df2.loc[:, 'operating_margin'] = list(operating_margin(df))
    df2.loc[:, 'price_to_book'] = list(price_to_book(df2, df))
    df2.loc[:, 'long_term_debt_to_total_asset'] = list(long_term_debt_to_total_asset(df))
    df2.loc[:, 'working_capital_ratio'] = list(working_capital_ratio(df))
    df2.loc[:, 'debt_equity'] = list(debt_equity(df))
    df2.loc[:, 'quick_ratio'] = list(quick_ratio(df))
    df2.loc[:, 'days_sales_of_inventory'] = list(days_sales_of_inventory(df))
    df2.loc[:, 'days_payable_outstanding'] = list(days_payable_outstanding(df))
    data_factor_store = [data_factor_store, df2]
    data_factor_store = pd.concat(data_factor_store)

In [11]:
data_factor = data_factor_store
print(data_factor)
writer = pd.ExcelWriter('factor matrix with tradable date.xlsx')
data_factor.to_excel(writer,'Sheet1')
writer.save()

       cash_ratio  datadate  days_payable_outstanding  \
42671         NaN  19900903                   178.929
42672         NaN  19901203                   189.723
42673         NaN  19910301                   202.109
42674         NaN  19910603                   207.436
42675         NaN  19910902                   190.310
42676         NaN  19911202                   224.611
42677         NaN  19920302                   224.310
42678         NaN  19920601                   330.029
42679         NaN  19920901                   200.750
42680         NaN  19921201                   258.276
42681         NaN  19930301                   196.457
42682         NaN  19930601                   253.270
42683         NaN  19930901                   117.541
42684         NaN  19931201                   121.352
42685         NaN  19940301                   266.352
42686         NaN  19940601                   295.292
42687         NaN  19940901                   106.722
42688         NaN  19941201                   106.564
42689         NaN  19950301                   101.638
42690         NaN  19950601                   152.138
42691         NaN  19950901                   119.816
42692         NaN  19951201                   130.854
42693         NaN  19960301                    96.367
42694         NaN  19960603                   130.462
42695         NaN  19960902                   110.479
42696         NaN  19961202                   134.479
42697         NaN  19970303                   117.800
42698         NaN  19970602                   146.525
42699         NaN  19970901                   118.525
42700         NaN  19971201                   137.167
...           ...       ...                       ...
88402         NaN  20101201                   500.434
88403         NaN  20110301                   455.946
88404         NaN  20110601                   522.150
88405         NaN  20110901                   550.817
88406         NaN  20111201                   542.808
88407         NaN  20120301                   523.604
88408         NaN  20120601                   607.584
88409         NaN  20120903                   628.608
88410         NaN  20121203                   696.210
88411         NaN  20130301                   975.549
88412         NaN  20130603                   998.391
88413         NaN  20130902                   930.103
88414         NaN  20131202                   922.242
88415         NaN  20140303                   854.824
88416         NaN  20140602                   902.604
88417         NaN  20140901                   821.095
88418         NaN  20141201                   809.420
88419         NaN  20150302                   762.290
88420         NaN  20150601                   552.118
88421         NaN  20150901                   743.287
88422         NaN  20151201                   601.531
88423         NaN  20160301                   565.078
88424         NaN  20160601                   486.806
88425         NaN  20160901                   587.761
88426         NaN  20161201                   606.557
88427         NaN  20170301                   789.361
88428         NaN  20170601                   813.698
88429         NaN  20170901                   780.455
88430         NaN  20171201                   808.614
88431         NaN  20180301                   813.751

       days_sales_of_inventory  debt_equity   ebitda  epspxq  ev_to_cfo  \
42671                      NaN        0.134   96.154    0.46        NaN
42672                      NaN        0.128   83.268    0.38        NaN
42673                      NaN        0.128   80.548    0.36        NaN
42674                      NaN        0.113   79.290    0.34        NaN
42675                      NaN        0.108  108.558    0.51        NaN
42676                      NaN        0.431  113.463    0.64        NaN
42677                      NaN        0.297  129.346    0.71        NaN
42678                      NaN        0.222   99.811    0.53        NaN
42679                      NaN        0.209  114.771    0.67        NaN
42680                      NaN        0.145   96.818    0.49        NaN
42681                      NaN        0.139  138.349    0.80        NaN
42682                      NaN        0.144   94.148   -0.74        NaN
42683                      NaN        0.161  141.140    0.74        NaN
42684                      NaN        0.166   88.366    0.46        NaN
42685                      NaN        0.158  139.623    0.74        NaN
42686                      NaN        0.159   95.628    0.59        NaN
42687                      NaN        0.152  126.863    0.77        NaN
42688                      NaN        0.148  105.324    0.60        NaN
42689                      NaN        0.140  156.327    1.01        NaN
42690                      NaN        0.133   96.287    0.64        NaN
42691                      NaN        0.130  131.346    0.80        NaN
42692                      NaN        0.239   72.546    0.26        NaN
42693                      NaN        0.274  154.561    0.96        NaN
42694                      NaN        0.333   74.123    0.02        NaN
42695                      NaN        0.341  105.188    0.64        NaN
42696                      NaN        0.336   52.956    0.27        NaN
42697                      NaN        2.656  118.924    0.75        NaN
42698                      NaN        2.240   66.946    0.35        NaN
42699                      NaN        1.789  103.791    0.72        NaN
42700                      NaN        1.670   70.100    0.36        NaN
...                        ...          ...      ...     ...        ...
88402                      0.0          NaN      NaN    0.11        NaN
88403                      0.0          NaN      NaN    0.11        NaN
88404                      0.0          NaN      NaN    0.27        NaN
88405                      0.0          NaN      NaN    0.34        NaN
88406                      0.0          NaN      NaN    0.33        NaN
88407                      0.0          NaN      NaN    0.32        NaN
88408                      0.0          NaN      NaN    0.34        NaN
88409                      0.0          NaN      NaN    0.37        NaN
88410                      0.0          NaN      NaN    0.38        NaN
88411                      0.0          NaN      NaN    0.37        NaN
88412                      0.0          NaN      NaN    0.36        NaN
88413                      0.0          NaN      NaN    0.34        NaN
88414                      0.0          NaN      NaN    0.37        NaN
88415                      0.0          NaN      NaN    1.08        NaN
88416                      0.0          NaN      NaN    0.33        NaN
88417                      0.0          NaN      NaN    0.27        NaN
88418                      0.0          NaN      NaN    0.31        NaN
88419                      0.0          NaN      NaN    0.81        NaN
88420                      0.0          NaN      NaN   -0.39        NaN
88421                      0.0          NaN      NaN    0.75        NaN
88422                      0.0          NaN      NaN    0.86        NaN
88423                      0.0          NaN      NaN    0.28        NaN
88424                      0.0          NaN      NaN   -0.28        NaN
88425                      0.0          NaN      NaN    0.27        NaN
88426                      0.0          NaN      NaN    0.19        NaN
88427                      0.0          NaN      NaN    1.27        NaN
88428                      0.0          NaN      NaN    0.49        NaN
88429                      0.0          NaN      NaN    0.42        NaN
88430                      0.0          NaN      NaN    0.36        NaN
88431                      NaN          NaN      NaN   -0.02        NaN

       gross_profit_margin  gsector          ...              prccd  \
42671                0.415     25.0          ...                NaN
42672                0.404     25.0          ...             11.000
42673                0.401     25.0          ...             20.625
42674                0.402     25.0          ...             22.750
42675                0.402     25.0          ...                NaN
42676                0.390     25.0          ...             26.125
42677                0.395     25.0          ...             34.500
42678                0.419     25.0          ...             29.000
42679                0.396     25.0          ...             27.625
42680                0.412     25.0          ...             33.000
42681                0.409     25.0          ...             35.375
42682                0.403     25.0          ...             36.125
42683                0.416     25.0          ...             25.000
42684                0.415     25.0          ...             30.500
42685                0.407     25.0          ...             32.500
42686                0.422     25.0          ...             31.375
42687                0.401     25.0          ...             36.625
42688                0.406     25.0          ...             38.000
42689                0.409     25.0          ...             36.500
42690                0.423     25.0          ...             33.875
42691                0.414     25.0          ...             34.750
42692                0.410     25.0          ...             26.125
42693                0.399     25.0          ...             29.000
42694                0.382     25.0          ...             30.000
42695                0.398     25.0          ...                NaN
42696                0.391     25.0          ...             37.875
42697                0.404     25.0          ...             46.000
42698                0.379     25.0          ...             39.750
42699                0.393     25.0          ...                NaN
42700                0.397     25.0          ...             39.938
...                    ...      ...          ...                ...
88402                0.278     60.0          ...             53.230
88403                0.259     60.0          ...             58.380
88404                0.308     60.0          ...             61.280
88405                0.302     60.0          ...             59.220
88406                0.290     60.0          ...             62.800
88407                0.272     60.0          ...             73.270
88408                0.305     60.0          ...             69.580
88409                0.361     60.0          ...                NaN
88410                0.366     60.0          ...             65.710
88411                0.330     60.0          ...             67.660
88412                0.327     60.0          ...             59.180
88413                0.333     60.0          ...                NaN
88414                0.332     60.0          ...             45.930
88415                0.269     60.0          ...             54.350
88416                0.302     60.0          ...             58.100
88417                0.308     60.0          ...                NaN
88418                0.291     60.0          ...             69.370
88419                0.254     60.0          ...             66.940
88420                0.039     60.0          ...             66.660
88421                0.371     60.0          ...             61.520
88422                0.260     60.0          ...             72.800
88423                0.246     60.0          ...             81.730
88424                0.095     60.0          ...             95.590
88425                0.302     60.0          ...             99.450
88426                0.302     60.0          ...             88.640
88427                0.308     60.0          ...            108.040
88428                0.363     60.0          ...            117.800
88429                0.323     60.0          ...            117.710
88430                0.332     60.0          ...                NaN
88431                0.257     60.0          ...                NaN

       price_to_book  price_to_cash_flow_ratio     ps  quick_ratio  \
42671            NaN                       NaN    NaN          NaN
42672          1.054                    14.003  0.000          NaN
42673          1.936                    27.326  0.000          NaN
42674          2.017                    37.755  0.000          NaN
42675            NaN                       NaN    NaN          NaN
42676          2.187                   -22.280  0.000          NaN
42677          2.697                    56.766  0.000          NaN
42678          2.114                    41.770  0.001          NaN
42679          1.942                    28.326  0.000          NaN
42680          2.132                    63.090  0.001          NaN
42681          2.301                    26.044  0.000          NaN
42682          2.637                   -85.167  0.001          NaN
42683          1.674                    20.645  0.000          NaN
42684          2.074                    86.324  0.001          NaN
42685          2.074                    27.322  0.000          NaN
42686          2.088                    38.035  0.001          NaN
42687          2.145                    29.157  0.001          NaN
42688          2.194                    31.846  0.001          NaN
42689          1.969                    24.110  0.000          NaN
42690          1.807                    43.917  0.001          NaN
42691          1.610                    22.681  0.000          NaN
42692          1.240                    27.474  0.000          NaN
42693          1.359                    23.002  0.000          NaN
42694          1.652                  -141.060  0.001          NaN
42695            NaN                       NaN    NaN          NaN
42696          1.808                  -185.616  0.001          NaN
42697          2.716                    27.178  0.001          NaN
42698          2.381                    41.323  0.001          NaN
42699            NaN                       NaN    NaN          NaN
42700          2.131                    48.763  0.001          NaN
...              ...                       ...    ...          ...
88402            NaN                       NaN  0.003          NaN
88403            NaN                       NaN  0.003          NaN
88404            NaN                       NaN  0.003          NaN
88405            NaN                       NaN  0.003          NaN
88406            NaN                       NaN  0.002          NaN
88407            NaN                       NaN  0.003          NaN
88408            NaN                       NaN  0.002          NaN
88409            NaN                       NaN    NaN          NaN
88410            NaN                       NaN  0.002          NaN
88411            NaN                       NaN  0.002          NaN
88412            NaN                       NaN  0.001          NaN
88413            NaN                       NaN    NaN          NaN
88414            NaN                       NaN  0.001          NaN
88415            NaN                       NaN  0.001          NaN
88416            NaN                       NaN  0.001          NaN
88417            NaN                       NaN    NaN          NaN
88418            NaN                       NaN  0.001          NaN
88419            NaN                       NaN  0.001          NaN
88420            NaN                       NaN  0.001          NaN
88421            NaN                       NaN  0.001          NaN
88422            NaN                       NaN  0.001          NaN
88423            NaN                       NaN  0.001          NaN
88424            NaN                       NaN  0.001          NaN
88425            NaN                       NaN  0.001          NaN
88426            NaN                       NaN  0.001          NaN
88427            NaN                       NaN  0.001          NaN
88428            NaN                       NaN  0.001          NaN
88429            NaN                       NaN  0.001          NaN
88430            NaN                       NaN    NaN          NaN
88431            NaN                       NaN    NaN          NaN

       revenue_growth    roa    roe  tic  working_capital_ratio
42671             NaN  0.042  0.059  RBK                  3.454
42672           0.052  0.033  0.047  RBK                  3.532
42673          -0.105  0.031  0.043  RBK                  3.786
42674           0.205  0.028  0.040  RBK                  3.505
42675          -0.297  0.038  0.056  RBK                  3.077
42676           0.010  0.043  0.086  RBK                  2.613
42677          -0.099  0.048  0.086  RBK                  2.507
42678           0.303  0.035  0.060  RBK                  2.420
42679          -0.264  0.042  0.071  RBK                  2.473
42680           0.136  0.030  0.050  RBK                  2.264
42681          -0.187  0.049  0.077  RBK                  2.552
42682           0.308 -0.050 -0.081  RBK                  2.806
42683          -0.200  0.047  0.080  RBK                  2.566
42684           0.255  0.029  0.050  RBK                  2.600
42685          -0.187  0.044  0.076  RBK                  2.488
42686           0.342  0.036  0.060  RBK                  2.844
42687          -0.297  0.043  0.075  RBK                  2.464
42688           0.104  0.033  0.056  RBK                  2.627
42689          -0.171  0.052  0.088  RBK                  2.587
42690           0.322  0.032  0.054  RBK                  2.645
42691          -0.242  0.035  0.063  RBK                  2.327
42692           0.186  0.011  0.022  RBK                  2.465
42693          -0.216  0.040  0.078  RBK                  2.489
42694           0.339  0.001  0.001  RBK                  3.109
42695          -0.168  0.027  0.054  RBK                  2.785
42696           0.104  0.011  0.022  RBK                  2.539
42697          -0.157  0.028  0.151  RBK                  2.607
42698           0.231  0.011  0.053  RBK                  2.830
42699          -0.153  0.022  0.097  RBK                  2.361
42700           0.106  0.011  0.046  RBK                  2.541
...               ...    ...    ...  ...                    ...
88402          -0.024  0.004  0.015  DLR                    NaN
88403          -0.169  0.004  0.016  DLR                    NaN
88404          -0.005  0.007  0.024  DLR                    NaN
88405          -0.048  0.007  0.026  DLR                    NaN
88406          -0.064  0.006  0.021  DLR                    NaN
88407          -0.028  0.006  0.019  DLR                    NaN
88408           0.018  0.007  0.023  DLR                    NaN
88409          -0.045  0.007  0.024  DLR                    NaN
88410          -0.075  0.008  0.025  DLR                    NaN
88411          -0.104  0.007  0.019  DLR                    NaN
88412          -0.021  0.006  0.019  DLR                    NaN
88413          -0.026  0.006  0.018  DLR                    NaN
88414          -0.014  0.006  0.021  DLR                    NaN
88415          -0.041  0.016  0.051  DLR                    NaN
88416          -0.007  0.006  0.019  DLR                    NaN
88417          -0.027  0.005  0.016  DLR                    NaN
88418          -0.025  0.006  0.020  DLR                    NaN
88419          -0.027  0.013  0.042  DLR                    NaN
88420          -0.001 -0.004 -0.012  DLR                    NaN
88421           0.019  0.013  0.043  DLR                    NaN
88422          -0.034  0.014  0.048  DLR                    NaN
88423          -0.037  0.006  0.021  DLR                    NaN
88424          -0.128 -0.001 -0.005  DLR                    NaN
88425          -0.007  0.005  0.020  DLR                    NaN
88426          -0.016  0.004  0.017  DLR                    NaN
88427          -0.064  0.018  0.053  DLR                    NaN
88428          -0.051  0.008  0.023  DLR                    NaN